<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stock Items</title>
    <th:block th:replace="~{includes :: meta_script_link}"> </th:block>
    <link rel="stylesheet" th:href="@{/css/style.css}"> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header th:replace="includes :: header"></header>
<main class="container">
    <h1>Stock Overview</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Ingredient Number</th>
            <th>Name</th>
            <th>Stock Level</th>
            <th>Status</th>
            <th>Supplier</th>
            <th>Expiration Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredientDTO : ${ingredients}" th:class="${ingredientDTO.stock < 10 ? 'low-stock' : ''}">
            <td th:text="${ingredientDTO.ingredientNumber}"></td>
            <td th:text="${ingredientDTO.name}"></td>
            <td th:text="${ingredientDTO.stock}"></td>
            <td th:text="${ingredientDTO.status}"></td>
            <td th:text="${ingredientDTO.supplierId}"></td>
            <td th:text="${#temporals.format(ingredientDTO.expirationDate, 'dd-MM-yyyy')}"></td>
            <td>
                <a th:href="@{/stock/edit/{ingredientNumber}(ingredientNumber=${ingredientDTO.ingredientNumber})}" class="btn btn-primary">
                    <i class="fas fa-edit"></i> Update
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>